#proyects{
    padding: 0 5rem;
    background: linear-gradient(0deg, #59378e 0%, #2f1e4a 100%);
    border: none;
    border-radius: 0;
}

.proyects-title{
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.proyects-container{
    width: 20rem;
    display: inline-block;
    margin: 1rem;
}

#item-proyect-card{
    overflow: hidden;
    height: fit-content;
    width: 100%;
    border-radius: 10px;
    display: inline-block;
}

.card-body{
    padding: 0 0 0 0.7rem;
}

#proyects-img-container{
    margin: 0.7rem;
    border-radius: 10px;
    overflow: hidden;
    height: 20rem;
}

#proyect-banner{
    filter: brightness(0.7) grayscale(0.5);
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 1s, filter 1s;
}

#proyect-banner:hover{
    filter: brightness(1) grayscale(0);
    transform: scale(1.2);
}

#proyect-title{
    text-align: left;
    font-size: 2rem;
    margin: 0;
}

#proyect-description{
    text-align: left;
    font-size: 0.7rem;
    height: 3rem;
}

.edit-proyects{
    align-self: center;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

#btn-update-proyects, #btn-delete-proyects{
    padding: 0.5rem;
}

@media screen and (max-width: 768px){
    .proyectos-container{
        width: 15rem;
        margin: 0.5rem;
        
    }
    #proyecto-banner{
        filter: brightness(1) grayscale(0);
        object-fit: cover;
    }
}