<div *ngIf="educaciones?.length!==0">
    <app-loader *ngIf='loading'></app-loader>
    <div *ngIf="educaciones && !loading" class="card text-center background-color" id="education">
        <h3 class="section-title education-title">Formación</h3>
        <div *ngFor="let educacion of educaciones; let i = index" class="educaciones-container" >
            <div class="education-item">
                <div *ngIf="i % 2 === 0" class="line-container-left">
                    <div *ngIf="userLogged|async" class="edit-btn-container">
                        <button class="edit-btn" data-bs-toggle="modal" data-bs-target="#updateEducacionModal" (click)="onOpenModal('update', educacion)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteEducacionModal" (click)="onOpenModal('delete', educacion)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                    <svg id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 87.7 239.72" id="line-icon">
                        <defs>
                            <style>.cls-1{fill:#9718a0;}.cls-2{fill:#f40be9;filter:url(#drop-shadow-1);}.cls-3{clip-path:url(#clippath);}.cls-4{fill:none;}</style>
                            <clipPath id="clippath"><rect class="cls-4" width="87.7" height="239.72"/></clipPath>
                            <filter id="drop-shadow-1" filterUnits="userSpaceOnUse"><feOffset dx="0" dy="0"/>
                            <feGaussianBlur result="blur" stdDeviation="5"/>
                            <feFlood flood-color="#000" flood-opacity=".75"/>
                            <feComposite in2="blur" operator="in"/>
                            <feComposite in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <g id="Capa_1-2">
                            <g class="cls-3">
                                <path class="cls-1" d="M43.85,1031.34c-1.1,0-2-.9-2-2V-2.21c0-1.1,.9-2,2-2s2,.9,2,2V1029.34c0,1.1-.9,2-2,2Z"/>
                                <circle class="cls-2" cx="43.85" cy="119.86" r="13.12"/>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="education-card" [ngClass]="{left: i % 2 !== 0} ">
                    <p class="education-item-date">{{educacion.dateStart}} / {{educacion.dateEnd ?? 'En curso'}}</p>
                    <h6 class="education-item-title">{{educacion.title}}</h6>
                    <p class="education-item-institution">{{educacion.institution}}</p>
                    <button *ngIf="educacion.certificate" class="certificate-btn"><a href="{{educacion.certificate}}" target="_blank">Ver Certificado</a></button>
                </div>
                <div *ngIf="i % 2 !== 0" class="line-container-right">
                    <svg id="Capa_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 87.7 239.72" id="line-icon">
                        <defs>
                            <style>.cls-1{fill:#9718a0;}.cls-2{fill:#f40be9;filter:url(#drop-shadow-1);}.cls-3{clip-path:url(#clippath);}.cls-4{fill:none;}</style>
                            <clipPath id="clippath"><rect class="cls-4" width="87.7" height="239.72"/></clipPath>
                            <filter id="drop-shadow-1" filterUnits="userSpaceOnUse"><feOffset dx="0" dy="0"/>
                            <feGaussianBlur result="blur" stdDeviation="5"/>
                            <feFlood flood-color="#000" flood-opacity=".75"/>
                            <feComposite in2="blur" operator="in"/>
                            <feComposite in="SourceGraphic"/>
                            </filter>
                        </defs>
                        <g id="Capa_1-2">
                            <g class="cls-3">
                                <path class="cls-1" d="M43.85,1031.34c-1.1,0-2-.9-2-2V-2.21c0-1.1,.9-2,2-2s2,.9,2,2V1029.34c0,1.1-.9,2-2,2Z"/>
                                <circle class="cls-2" cx="43.85" cy="119.86" r="13.12"/>
                            </g>
                        </g>
                    </svg>
                    <div *ngIf="userLogged|async" class="edit-btn-container">
                        <button class="edit-btn" data-bs-toggle="modal" data-bs-target="#updateEducacionModal" (click)="onOpenModal('update', educacion)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteEducacionModal" (click)="onOpenModal('delete', educacion)">
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div> 
        <div *ngIf="userLogged|async as user" class="add-education-section">
            <button class="add-btn" data-bs-toggle="modal" data-bs-target="#addEducationModal">
                <i class="bi bi-plus-lg"></i>
            </button>
          </div>
    </div>
</div>

<div *ngIf="userLogged|async as user" class="empty-section-outer-container">
    <div *ngIf="educaciones?.length==0" class="empty-section-container">
        <h3 class="card-title title-hover education-title">Formación</h3>
        <div>
            <h4 class="empty-section-title">¡No hay estudios para mostrar aun!</h4>
            <p class="empty-section-text text-muted">Click aquí abajo para agregar nuevas entradas</p>
        </div>
        <app-add-button id="btn-add-educacion" data-bs-toggle="modal" data-bs-target="#addEducacionModal" (click)="onOpenModal('add')"></app-add-button>
    </div>
</div>

<!--Add Modal -->
<div class="modal fade" id="addEducationModal" tabindex="-1" aria-labelledby="addEducacionModal" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir nueva formación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEducation(addForm)">
                <div class="mb-3">
                    <label for="education-form-title" class="form-label">Titulo</label>
                    <input ngModel name="title" type="text" class="form-control" id="education-form-title" required>
                </div>
                <div class="mb-3">
                    <label for="education-form-institution" class="form-label">Institución</label>
                    <input ngModel name="institution" type="text" class="form-control" id="education-form-institution" required>
                </div>
                <div class="mb-3">
                    <label for="education-form-certificate" class="form-label">Link a certificado</label>
                    <input ngModel name="certificate" type="text" class="form-control" id="edutacion-form-certificate">
                </div>
                <div class="mb-3 form-check">
                    <label class="form-check-label" for="exampleCheck1">Fecha de inicio</label>
                    <input ngModel name="dateStart" class="mx-2" type="date" id="education-date-start" required>
                </div>
                <div class="mb-3 form-check">
                    <label class="form-check-label" for="education-date-end">Fecha de finalización</label>
                    <input ngModel name="dateEnd" class="mx-2" type="date" id="education-date-end">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<!--Update Modal -->
<div class="modal fade" id="updateEducacionModal" tabindex="-1" aria-labelledby="updateEducacionModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form #updateForm="ngForm">
                    <div class="form-group mb-3" hidden>
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input ngModel="{{updateEducacion?.id}}" name="id" type="text" class="form-control" id="nivel" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Titulo</label>
                        <input ngModel="{{updateEducacion?.title}}" name="title" type="text" class="form-control" id="titulo" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Institución</label>
                        <input ngModel="{{updateEducacion?.institution}}" name="institution" type="text" class="form-control" id="institucion" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Link a certificado</label>
                        <input ngModel="{{updateEducacion?.certificate}}" name="certificate" type="text" class="form-control" id="certificate" required>
                    </div>
                    <div class="mb-3 form-check">
                        <label class="form-check-label" for="exampleCheck1">Fecha de inicio</label>
                        <input ngModel="{{updateEducacion?.dateStart}}" name="dateStart" class="mx-2" required type="date">
                    </div>
                    <div class="mb-3 form-check">
                        <label class="form-check-label" for="exampleCheck1">Fecha de finalización</label>
                        <input ngModel="{{updateEducacion?.dateEnd}}" name="dateEnd" class="mx-2" type="date">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" (click)="onUpdateEducacion(updateForm.value)">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deleteEducacionModal" tabindex="-1" aria-labelledby="deleteEducacionModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar Formación: {{deleteEducacion?.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Seguro querés eliminar esta formación?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No
                </button>
                <button type="button" class="btn btn-secondary" (click)="onDeleteEducacion(deleteEducacion!.id)" data-bs-dismiss="modal">
                    Sí
                </button>
            </div>
        </div>
    </div>
</div>


