#education{
    border: none;
    border-radius: 0;
    padding-top: 8rem;
}

.education-title{
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
}

#inner-card-body{
    padding: 0;
}

#education-item-card{
    align-self: center;
    width: 50rem;
    height: fit-content;
    padding: 0;
    margin: 1rem;
}

.education-row{
    text-align: left;
}

#dot-icon{
    height: 15rem;
    margin-left: auto;
    float: right;
}

#education-level{
    font-size: 0.85rem;
    font-weight: 200;
    margin-bottom: 0.5rem
}

.education-item-title{
    display: inline-block;
    font-size: 1.5rem;
}

.education-institution{
    font-size: 1.3rem;
    font-weight: 500;
}

.education-item-date{
    font-size: 0.85rem;
}

.education-img-container{
    height: 7rem;
    width: 7rem;
    align-self: center;
    margin-right: auto;
}

#img-education{
    height: 100%;
    width: 100%;
    object-fit: contain;
}


.col-5, .col-4{
    display: flex;
}




