.navbar{
    background-color: #09061c;
}

.navbar-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #09061cdd;
}

.navbar-list{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.nav-item-link{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}

#btn-logout{
    background-color: transparent;
    border: none;
}

.navbar-toggler{
    border: 1px solid #222;
    color: #f42bf9;
    background-color: #09061c;
}

@media screen and (max-width: 1010px){

    .navbar{
        background-color: transparent;
        position: fixed;
        padding: 1.5rem 0 0 1.5rem;
        width: 100%;
    }

    .navbar-collapse{
        width: 100%;
    }

    .navbar-container{
        background-color: transparent;
        justify-content: flex-start;
        width: 100%;
    }
   
    .navbar-list{
        gap: 1rem;   
        background-color: #103;
        width: 100%;
        border-radius: 10px;
        border-top-left-radius: 0;
        margin-top: 3px;
    }

    .navbar-list:first-child{
        padding: 2rem 0;
    }
    
    .nav-item{
        margin: 0.4rem auto;
    }

    .nav-item-link{
        text-align: center;
        font-size: 1rem;
    }

}

