
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="" target="BLANK" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
      <img src="../../../assets/img/AP-icon.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item me-auto"><a class="nav-item title-hover" href="/porfolio#sobre-mi">SOBRE MI</a></li>
        <li class="nav-item me-auto"><a class="nav-item title-hover" href="/porfolio#educacion">EDUCACIÓN</a></li>
        <li class="nav-item me-auto"><a class="nav-item title-hover" href="/porfolio#experiencia">EXPERIENCIA</a></li>
        <li class="nav-item me-auto"><a class="nav-item title-hover" href="/porfolio#habilidades">HABILIDADES</a></li>
        <li class="nav-item me-auto"><a class="nav-item title-hover" href="/porfolio#proyectos">PROYECTOS</a></li>
        <li class="nav-item me-auto"><a class="nav-item title-hover" href="/porfolio#contacto">CONTACTO</a></li>
        <li class="nav-item me-auto"><a class="nav-item text-hover" id="btn-logout" href="/login" (click)="logout()">SALIR</a></li>
      </ul>
    </div>
  </div>
</nav>