.navbar{
    margin-top: -1.3rem;
    background-color: #09061cdd;
    position: sticky;
}

.ap-icon{
    height: 5rem;
}

.navbar-container{
    display: flex;
    justify-content: space-evenly;
    background-color: #09061cdd;
}

.navbar-expand-lg{
    padding:0 ;
}

.navbar-list{
    margin: auto;
}

.nav-item-link{
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

#btn-logout{
    background-color: transparent;
    border: none;
}

.navbar-toggler{
    border: 1px solid #f42bf9;
}

.navbar-toggler-icon{
    color: #f42bf9;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1010px){
    .nav-item-link{
        margin-right: 1rem;
    }

    .nav-item{
        margin: 0.4rem auto;
    }
}

