.navbar{
    margin-top: -1.3rem;
    background-color: #09061cdd;
    position: sticky;
}

.ap-icon{
    height: 5rem;
}

.navbar-container{
    display: flex;
    justify-content: space-evenly;
}

.navbar-list{
    margin: auto;
}

.nav-item-link{
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1rem;
    font-weight: 500;
}

#btn-logout{
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 1010px){
    .nav-item-link{
        margin-right: 1rem;
    }
}

