<app-loader *ngIf='loading'></app-loader>
<header *ngIf="informacion && !loading" id="header">
    <div class="card mb-3" id="header-card">
      <div class="container-fluid px-0" id="banner-container">
        <img [src]="(informacion.imgBanner)" class="card-img mx-0" alt="imagen de fondo" id="banner">
      </div>
      <div class="card-img-overlay">
        <div class="titles-container">
          <div class="profile-img-container">
              <img [src]="(informacion.imgProfile)" class="profile-img" alt="foto perfil">
          </div>
          <div class="titles-inner-container">
            <div class="container-fluid">
                <h1 class="card-title">{{informacion.name + " " + informacion.lastName}}</h1> 
                <hr>
                <h2 class="card-subtitle" >{{informacion.title}}</h2>
                <p class="card-location" id="header-locacion">{{informacion.location}}</p>
            </div> 
          </div>
        </div>
        <div class="about-container">
          <p class="description-text">{{informacion.description}}</p>
          <button class="cv-btn"><a href="https://drive.google.com/uc?export=download&id=1iaZx7ReBOT_ZyDZtYWBEPQsLph6QDzwL">Descargar CV</a></button>
        </div>
      </div>
    </div>   
  </header>
