#experience{
    border: none;
    border-radius: 0;
    padding-top: 8rem;
}

.experience-title{
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
}

#inner-card-body{
    padding: 0;
}

#experience-item-card{
    align-self: center;
    width: 50rem;
    height: fit-content;
    padding: 0;
    margin: 1rem;
}

.experience-row{
    text-align: right;
}

#dot-icon{
    height: 15rem;
    margin-left: auto;
    float: left;
}

#experience-level{
    font-size: 0.85rem;
    font-weight: 200;
    margin-bottom: 0.5rem
}

.experience-item-title{
    display: inline-block;
    font-size: 1.5rem;
}

.experience-item-date{
    font-size: 0.85rem;
}

.experience-img-container{
    height: 7rem;
    width: 7rem;
    align-self: center;
    margin-left: auto;
}

#img-experience{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.col-5, .col-4{
    display: flex;
}

.edit-experience{
    margin-left: auto;
}