#experience{
    border: none;
    border-radius: 0;
    padding: 5rem 0;
    margin-top: -1rem;
}

.experience-title{
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
    text-align: center;
}

#inner-card-body{
    padding: 0;
}

.experience-info-col{
    display: flex;
    align-items: center;
}

#experience-item-card{
    align-self: center;
    height: fit-content;
    padding: 0;
    margin: 1rem;
}

.experience-row{
    text-align: right;
}

.dot-container{
    height: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: left;
}

#dot-icon{
    height: 15rem;
    margin-left: auto;
    float: left;
}

#experience-level{
    font-size: 0.85rem;
    font-weight: 200;
    margin-bottom: 0.5rem
}

.experience-item-title{
    display: inline-block;
    font-size: 1.5rem;
}

.experience-item-date{
    font-size: 0.85rem;
}

.experience-img-container{
    height: 7rem;
    width: 7rem;
    align-self: center;
    margin-left: auto;
}

#img-experience{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.col-5, .col-4{
    display: flex;
}

.edit-experience{
    margin-left: auto;
}

.empty-section-container{
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
    justify-content: center;
}

.empty-section-title, .empty-section-text{
    text-align: center;
}

#btn-add-experiencia{
    margin: auto;
}

@media screen and (max-width: 768px){
    .experience-img-col{
        display: none;
    }

    .experience-title{
        margin: 3rem;
        font-size: 2rem;
    }

    .dot-container{
        height: 12rem;
    }
    
    #dot-icon{
        height: 15rem;
    }

    .experience-item-title{
        display: inline-block;
        font-size: 1.2rem;
    }

    .experience-item-date{
        font-size: 0.7rem;
    }
 }