<div *ngIf="habilidades?.length!==0" >
    <app-loader *ngIf='loading'></app-loader>
    <div *ngIf="habilidades && !loading" class="card text-center scroll-container" id="skills">
        <div *ngIf="habilidades && !loading" class="card-body">
            <h3 class="section-title skills-title">Habilidades</h3>
            <div class="skills-container">
                <div *ngFor="let skill of habilidades" class="inner-skill-container" >
                    <div class="background-container">
                        <img class="background-img" src="assets/img/skill/{{skill.title}}.jpg" alt="">
                    </div>
                    <div class="skill-details">
                        <h4 class="single-skill-title">{{skill.title}}</h4>
                        <div class="items-container">
                            <div *ngFor="let item of skill.items; let i = index" class="skill-item">
                                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24">
                                    <path fill="#3e3" d="M 19.28125 5.28125 L 9 15.5625 L 4.71875 11.28125 L 3.28125 12.71875 L 8.28125 17.71875 L 9 18.40625 L 9.71875 17.71875 L 20.71875 6.71875 Z"></path>
                                </svg>
                                <p>{{item}}</p>            
                            <div *ngIf="userLogged|async" class="delete-btn-container">
                                <button class="delete-btn" data-bs-toggle="modal" data-bs-target="#deleteSkillModal" (click)="onOpenModal('delete', skill, i)">
                                    <i class="bi bi-trash-fill"></i>
                                </button>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="userLogged|async as user" class="add-skill-section">
                        <button class="edit-skill-btn" data-bs-toggle="modal" data-bs-target="#updateSkillModal" (click)="onOpenModal('update', skill, 0)">
                            <i class="bi bi-pencil-fill"></i>
                        </button>
                        <button class="add-btn" data-bs-toggle="modal" data-bs-target="#addSkillModal" (click)="onOpenModal('add', skill, 0)">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="habilidades?.length==0">
                <h4 class="empty-section-title">¡No hay habilidades para mostrar aun!</h4>
                <p *ngIf="userLogged|async as user" class="text-muted">Click aquí abajo para agregar nuevas entradas</p>
            </div>
        </div>
    </div>
</div>


<!--Add Modal -->
<div class="modal fade" id="addSkillModal" tabindex="-1" aria-labelledby="addSkillModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir nueva habilidad para {{addSkill?.title}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddHabilidades(addForm)">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Valor</label>
                    <input ngModel name="item" type="text" class="form-control" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" [disabled]="addForm.invalid" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
      </div>
    </div>
</div>

<!--Update Modal -->
<div class="modal fade" id="updateSkillModal" tabindex="-1" aria-labelledby="updateskillModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Habilidad: {{updateSkills?.title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form #updateForm="ngForm">
                    <div class="form-group mb-3" hidden>
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input ngModel="{{updateSkills?.id}}" name="id" type="text" class="form-control" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="exampleInputEmail1" class="form-label"><strong>Título</strong></label>
                        <input ngModel="{{updateSkills?.title}}" name="title" type="text" class="form-control" required>
                    </div>
                    <div *ngFor="let item of updateSkills?.items; let j = index">
                        <div *ngIf="updateSkills" class="form-group mb-3">
                            <label for="exampleInputEmail1" class="form-label"><small>Item {{j + 1}}</small></label>
                            <input ngModel="{{item}}" name="{{j}}" type="text" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" (click)="onUpdateHabilidades(updateForm)" data-bs-dismiss="modal">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal -->
<div class="modal fade" id="deleteSkillModal" tabindex="-1" aria-labelledby="deleteSkillModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Borrar Habilidad: {{deleteHabilidades}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Seguro querés eliminar esta habilidad?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    No
                </button>
                <button type="button" class="btn btn-secondary" (click)="onDeleteHabilidades()" data-bs-dismiss="modal">
                    Sí
                </button>
            </div>
        </div>
    </div>
</div>
