#skills{
    padding: 8%;
    background: linear-gradient(0deg, #2f1e4a 0%, #09061c 100%);
    border-radius:0;
    border: none;
    margin-top: -1rem;
}

.skills-title{
    margin-bottom: 1.55rem;
    font-size: 2.3rem;
    text-align: center;
}

.skills-container{
    padding: 1.5rem;
}

.skills-item-title{
    text-shadow: 0px 0px 3px #000;
    display: inline-block;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}

.bi-info-circle-fill{
    margin-left: 1rem;
    margin-right: -1rem;
}

.description-tooltip{
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: #a728b0ee;
}

.skills-description{
    margin: 0.5rem 0;
    font-weight: 400;
    font-size: 0.85rem;
}

.tech-logo-container{
    display: flex;
    height: 2rem;
    width: 2rem;
    padding: 0;
}

.logo-habilidad{
    height: 100%;
    width: 100%;
    align-self: center;
    object-fit: contain;
}

.progress-bar-row{
    display: flex;
}

.progress{
    height: 0.4rem;
    width: 80%;
    margin: 0 auto;
    align-self: center;
}

.edit-skills{
    margin: 0 auto 2rem;
}

.empty-skills{
    background: linear-gradient(0deg, #2f1e4a 0%, #09061c 100%);
}

#btn-add-habilidades{
    margin: auto;
}


@media screen and (max-width: 768px){
    #skills{
        padding: 2rem 1rem ;
    }

    .skills-title{
        margin: 3rem;
        font-size: 2rem;
    }

    .skills-container{
        padding: 0.8rem;
    }

    .skills-item-title{
        text-shadow: 0px 0px 3px #000;
        display: inline-block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }

    .bi-info-circle-fill{
        font-size: 1.2rem;
        margin-right: -1.2rem;
    }

    .progress{
        height: 0.3rem;
    }
    
 }