#contacto{
    border: none;
    border-radius: 0;
}

h3{
    margin: 5rem 0 4rem;
    font-size: 2.5rem;
}

.logo-container{
    padding: 0 1rem;
    width: fit-content;
    background-color: #2f1e4a;
    border-radius: 10px;
    margin: 1rem auto;
    box-shadow: 0 0 3px #000;
}

i{
    font-size: 3rem;
    color: #fff;
}

.card-body{
    padding: 0 20%;
}

a{
    text-align: center;
    width: fit-content;
}

.contact-item-container:hover .logo-container{
    box-shadow: 0 0 5px #000;
    transform: scale(1.05);
    transition: transform 0.1s;
}

.contact-text{
    color: #a728b0;
}

.contact-item-container:hover .contact-text{
    color: #f40be9;
}


p{
    font-size: 1rem;
}

.row{
    margin-bottom: 5rem;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
 }