<div class="card text-center background-color" id="contacto">
    <div class="card-body" id="main-card-body">
        <h3 class="card-title title-hover">Contacto</h3>
        <div class="row">
            <div class="col-4" *ngIf="informacion?.locacion">
                <a [href]="'https://www.google.com/maps/search/' + informacion?.locacion" target="_blank">
                    <div class="logo-container">
                        <i class="bi bi-geo-alt"></i>
                    </div>
                </a>
                <p class="title-hover">{{informacion?.locacion}}</p>
            </div>
            <div class="col-4" *ngIf="informacion?.email">
                <a href="" class="inactive-link">
                    <div class="logo-container">
                        <i class="bi bi-envelope"></i>
                    </div>
                </a>
                <p class="title-hover">{{informacion?.email}}</p>
            </div>
            <div class="col-4" *ngIf="informacion?.telefono">
                <a [href]="'https://wa.me/' + informacion?.telefono" target="_blank">
                    <div class="logo-container">
                        <i class="bi bi-whatsapp"></i>
                    </div>
                </a>
                <p class="title-hover">{{informacion?.telefono}}</p>
            </div>
            <div class="col-4" *ngIf="informacion?.facebook">
                <a [href]="'https://facebook.com/' + informacion?.facebook" target="_blank">
                    <div class="logo-container">
                        <i class="bi bi-facebook"></i>

                    </div>
                </a>
                <p class="title-hover">{{informacion?.facebook}}</p>
            </div>
            <div *ngIf="informacion?.instagram" class="col-4">
                <a [href]="'https://instagram.com/' + informacion?.instagram" target="_blank">
                    <div class="logo-container">
                        <i class="bi bi-instagram"></i>
                    </div>
                </a>
                <p class="title-hover">{{informacion?.instagram}}</p>
            </div>
            <div *ngIf="informacion?.github" class="col-4">
                <a [href]="'https://github.com/' + informacion?.github" target="_blank">
                    <div class="logo-container">
                        <i class="bi bi-github"></i>
                    </div>
                </a>
                <p class="title-hover">{{informacion?.github}}</p>
            </div>
        </div>
    </div>
    
</div>
  
