<app-loader *ngIf='loading'></app-loader>
<div *ngIf="informacion && !loading" class="card text-center background-color" id="contact">
    <div class="card-body contact-body" id="main-card-body">
        <h3 class="card-title title-hover contact-title">Contacto</h3>
        <div class="row contact-row">
            <div class="col-4 contact-item-container" *ngIf="informacion?.location">
                <a [href]="'https://www.google.com/maps/search/' + informacion.location" target="_blank" class="contact-link">
                    <div class="logo-container">
                        <i class="bi bi-geo-alt contact-icon"></i>
                    </div>
                </a>
                <p class="contact-text">{{informacion.location}}</p>
            </div>
            <div class="col-4 contact-item-container" *ngIf="informacion?.email">
                <a [href]="'https://mail.google.com/mail/?view=cm&fs=1&to='+ informacion.email" target="_blank" class="contact-link">
                    <div class="logo-container">
                        <i class="bi bi-envelope contact-icon"></i>
                    </div>
                </a>
                <p class="contact-text">{{informacion.email}}</p>
            </div>
            <div class="col-4 contact-item-container" *ngIf="informacion?.phone">
                <a [href]="'https://wa.me/' + informacion.phone" target="_blank" class="contact-link">
                    <div class="logo-container">
                        <i class="bi bi-whatsapp contact-icon"></i>
                    </div>
                </a>
                <p class="contact-text">{{informacion.phone}}</p>
            </div>
            <div *ngIf="informacion?.github" class="col-4 contact-item-container">
                <a [href]="'https://github.com/' + informacion.github" target="_blank" class="contact-link">
                    <div class="logo-container">
                        <i class="bi bi-github contact-icon"></i>
                    </div>
                </a>
                <p class="contact-text">{{informacion.github}}</p>
            </div>
        </div>
    </div>
</div>
  
