#contact{
    border: none;
    border-radius: 0;
}

.contact-title{
    margin: 5rem 0 4rem;
    font-size: 2.5rem;
}

.contact-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.logo-container{
    padding: 0.5rem 1rem;
    width: fit-content;
    background-color: #2f1e4a;
    border-radius: 10px;
    box-shadow: 0 0 3px #000;
}

.contact-icon{
    font-size: 3rem;
    color: #fff;
}

.contact-body{
    padding: 0 20%;
}

.contact-link{
    text-align: center;
    width: fit-content;
}

.contact-item-container:hover .logo-container{
    box-shadow: 0 0 5px #000;
    transform: scale(1.05);
    transition: transform 0.1s;
}

.contact-text{
    color: #a728b0;
    font-size: 1rem;
}

.contact-item-container:hover .contact-text{
    color: #f40be9;
}

.contact-row{
    margin-bottom: 5rem;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
 }

 @media screen and (max-width: 768px){
    #contact{
        margin-top: -0.5rem;
    }

    .contact-body{
        padding: 0 1rem;
    }

    .contact-title{
        margin: 3rem;
        font-size: 2rem;
    }

    .contact-item-container{
        margin-bottom: 0.5rem;
    }

    .logo-container{
        padding: 0.2rem 0.7rem;
        
    }

    .contact-icon{
        font-size: 2rem;
    }

    .contact-text{
        font-size: 0.7rem;
        margin-top: 0.5rem;
    }
    
 }