<div class="contact-container" id="contact">
    <h3 class="section-title">Contacto</h3>
    <div class="contact-card">
        <form [formGroup]="messageForm" (ngSubmit)="onSendMessage()" action="" class="contact-form">
            <input formControlName="sender" type="text" class='subject-mail' placeholder='De parte de...' required />
            <textarea formControlName="message" class='textarea-mail' placeholder='Estimado Juan...' name="message" required ></textarea>
            <button class='send-msg-btn' type='submit'>Enviar</button>
        </form>
    </div>
</div>
  
