button{
    margin: 3rem 0 5rem;
    width: 6rem;
    background-color: #916626;
}

button:hover{
    background-color: #e4ab42;
}

.bi-plus-lg, .bi-pencil-fill{
    font-size: 1.5rem;
    color: #000000;
}