#about{
    background-color: #09061c;
    margin-top: -1.5rem;
    border: none;
    border-radius: 0;
    padding: 5rem ;
}

.about-title{
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
}

.about-body{
    max-width: 45rem;
    margin: auto;
}

.edit-about{
    margin: auto;
}

#editar-descripcion-input{
    height: 4rem;
}

.about-text{
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
}

@media screen and (max-width: 768px){
    #about{
        padding: 1rem;
    }

    .about-title{
        margin: 2.5rem;
        font-size: 2rem;
    }

    .about-text{
        text-align: justify;
        font-weight: 400;
        font-size: 0.8rem;
    }
    
 }