#sobre-mi{
    background-color: #09061c;
    margin-top: -1rem;
    border: none;
    border-radius: 0;
    padding-top: 5rem;
}

.about-title{
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
    display: inline-block;
}

.card-body{
    padding: 0 25%;
}

.edit-about{
    margin: auto;
}

#editar-descripcion-input{
    height: 4rem;
}

.about-text{
    text-align: justify;
    font-weight: 400;
}