.container-fluid{
    background: linear-gradient(0deg, rgba(47,30,74,1) 0%, rgba(9,6,28,1) 100%);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5rem;
}

.login-card{
    background-color: transparent;
    width: 50%;
    height: fit-content;
    padding: 2%;
    margin-top: auto;
    margin-bottom: auto;
    border: none;
}

.form-control{
    margin-bottom: 2rem;
}



.ventana-ingreso{
    width: 100%;
    padding: 2rem;
    background-color: #000;
    text-align: center;
}


.ventana-ingreso button{
    color: #000;
    display: block;
    margin: 0.5rem auto;
}

.link-to-main{
    color: #fff;
    text-decoration: none;
}

.ventana-ingreso p{
    font-size: 1.5rem;
}

label{
    margin-bottom: 0.4rem;
    color: #fff;
}

@media screen and (max-width: 768px){
    .login-card{
        width: 90%;
    }
 }