html {
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*{
  font-family: 'Inter', "Helvetica Neue", sans-serif;
}

html, body { height: 100%; width: 100%; }
body { 
  margin: 0; 
  font-family: 'Inter', "Helvetica Neue", sans-serif; 
  width: 100%;
  position: relative;
  left: 0;
}

.main-title{
  color: #bb3cc4;
  text-shadow: 0px 0px 4px #000;
}

.title-hover{
  color: #c748d0;
}

.title-hover:hover{
  color: #f42bf9;
}

.section-title{
  color: #f42bf9;
  margin-bottom: 5rem;
  font-size: 2.7rem;
  text-align: center;
}

.main-text{
  color: #dbd3e0
}

.icon-hover{
  color: #ccc;
}

.icon-hover:hover{
  color: #fff;
}

.edit-btn-container{
  display: flex;
  justify-content: center;
  background-color: #067162;
  width: fit-content;
  border-radius: 0.7rem;
}

.background-color{
  background-color: #09061c;
}

.empty-section-outer-container{
  margin-top: -1rem;
  padding: 1rem;
}

.empty-section-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty-section-title{
  font-size: 1rem;
  color: #fff;
  text-align: center;
}

.empty-section-text{
  text-align: center;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  z-index: 10;
  right: 0.4rem;
}
  
body::-webkit-scrollbar-track {
  background-color: #09061c
}
  
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a728b0;
}
  
body::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}


@media screen and (max-width: 768px){
  .section-title{
    color: #f42bf9;
    margin-bottom: 5rem;
    font-size: 2.2rem;
    text-align: center;
  }
}